[user]
  name = Evan Culver
  email = e@eculver.io

[push]
  default = current

[branch]
  autosetupmerge = always
  autosetuprebase = always

[color]
  ui = auto

  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  autocrlf = false
  editor = vim

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  pullm = !"git fetch origin -v; git fetch mirror -v; git merge mirror/master"
  pushm = !"git push; git push mirror"
  contribs = !"git shortlog -s -n"

[github]
  # look for credentials in cli keychain, or prompt for them
  user = eculver
  token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^token: \\\"(.*)\\\"$/'
  password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[rerere]
  enabled = true
[credential]
  helper = cache -- timeout=3600
[url "git@github.com:"]
  # Always use Github SSH protocol
  insteadOf = https://github.com
